[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"beautifulsoup4" = "==4.6.0"
certifi = "==2017.7.27.1"
chardet = "==3.0.4"
click = "==6.7"
idna = "==2.6"
pytest-runner = "==2.12.1"
requests = "==2.18.4"
"urllib3" = "==1.22"
PyYAML = "==3.12"
lxml = "*"
pandas = "*"

[dev-packages]
bumpversion = "==0.5.3"
watchdog = "==0.8.3"
"flake8" = "==2.6.0"
tox = "==2.3.1"
coverage = "==4.1"
cryptography = "==1.7"
pytest = "==2.9.2"
pytest-runner = "==2.11.1"
requests = "==2.18.4"
"beautifulsoup4" = "==4.6.0"
Sphinx = "==1.4.8"
PyYAML = "==3.11"
pylint = "*"
"pep8" = "*"
lxml = "*"
pandas = "*"

[requires]
python_version = "3.6"
